#----------------------------------------------------
# Kiwi7 환경설정 샘플
#----------------------------------------------------
VERSION=0.0.2
BASE_DIR=/kiwi

# LOGGING
LOG_LEVEL=DEBUG

# JWT
JWT_SECRET_KEY=kiwi7_secret_key_1234_!@#$
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60
ACCESS_TOKEN_NAME=kiwi7_token

#----------------------------------------------------
# KIWOOM(키움증권) API
#----------------------------------------------------
KIWOOM_ACCT_NO="1033-4006"
KIWOOM_APP_KEY=
KIWOOM_SECRET_KEY=
KIWOOM_BASE_URL=https://api.kiwoom.com
KIWOOM_WS_URL=wss://api.kiwoom.com:10000/api/dostk/websocket

#----------------------------------------------------
# KIS(한국투자증권) API
# API 문서: https://apiportal.koreainvestment.com
# 실전투자만 지원: https://openapi.koreainvestment.com:9443
#----------------------------------------------------
KIS_ACCT_NO=
KIS_ACCT_PRDT_CD=01
KIS_APP_KEY=
KIS_SECRET_KEY=
KIS_BASE_URL=
KIS_WS_URL=

#----------------------------------------------------
# LS증권 API
# API 문서: https://openapi.ls-sec.co.kr
# 실전투자만 지원: https://openapi.ls-sec.co.kr:8080
#----------------------------------------------------
LS_ACCT_NO=
LS_APP_KEY=
LS_SECRET_KEY=
LS_BASE_URL=
LS_WS_URL=

#----------------------------------------------------
# 기타
#----------------------------------------------------
GODATA_API_KEY=
